.chat__side
  .chat__side__header
    .chat__side__header__name
      = current_user.name
    .chat__side__header__cog
      = link_to new_group_path do
        = fa_icon 'edit', class: 'icon'
      = link_to edit_user_path(current_user) do
        = fa_icon 'cog', class: 'icon'
  .chat__side__groups
    .chat__side__groups__name
      %p sample
    .chat__side__groups__comments
      %p Good bye world!
.chat__main
  .chat__main__header
    .chat__main__header__name
      %p sample
    .chat__main__header__edit-button
      = link_to "Edit", 'edit_group_path(params[:group_id])', method: :get
    .chat__main__header__member
      %p< Members: seo neko
  .chat__main__comments
    .chat__main__comments__1
      .chat__main__comments__1__name
        %p seo
      .chat__main__comments__1__time
        %p 2016/09/21
      .chat__main__comments__1__comments
        %p Hello world!
        .chat__main__comments__1
      .chat__main__comments__1__name
        %p seo
      .chat__main__comments__1__time
        %p 2016/09/21
      .chat__main__comments__1__comments
        %p Hello world!
  .chat__main__form
    .chat__main__form__comments
      .chat__main__form__comments__box
        .chat__main__form__comments__box__text
          = form_for [@group, @comment] do |f|
            = f.text_field :content, class: 'form__comment', placeholder: 'type a comment'
      .chat__main__form__comments__box__image
        %label
          = f.label :image, class: 'form__mask__image' do
            = icon('fas', 'image', class: 'icon')
            = f.file_field :image, class: 'hidden'
    .chat__main__form__input
      = f.submit 'Send', class: 'form__submit'